
#checkout-container{
    border: 0px solid black;
    width: 60%;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

#inpt{
    display: grid;
    width: 30%;
    border: 0px solid red;
    margin: auto;
    gap: 20px;
}
#inpt>button{
    width: 40%;
    margin: auto;
}